
.bg-1 {
    background-color: lightgrey; /* Green */
    color: #ffffff;
    min-height: 550px !important;

}

.bg-2 {
    background-color: #2f2f2f;
    color: #ffffff;
    padding-right: 10px !important;
}

li {
  border-bottom: solid grey 1px;
  padding: 5px;
  list-style-type: none;
}
ul{
  padding: 0;
  margin: 0;
}

li:hover {
  background-color: #000 !important;
}

.nav {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  width: 17%;
  background-color: white !important;
  color: black !important;
  padding: 5px !important;

}

.nav-space {
  padding: 0 !important;
  margin: 0 !important;

}

.thumbnail{
  /*background-color: green !important;*/
  color: black !important;
}

.black{
  /*background-color: green !important;*/
  color: black !important;
}
