<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'travel/css/main.css'%}">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>add</h1>
    <h2>Add a Trip</h2>
{% if messages %}
    <div class="errors">
      {% for message in messages %}
        <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
      {% endfor %}
    </div>
{% endif %}
<form action="{% url 'add_travel' %}" method='post'>
   {% csrf_token %}
   Destination: <input type="text" name="destination">
   Description: <input type="text" name="plan">
   Travel Date From: <input type="date" name="start" min="{{time}}">
   Travel Date To: <input type="date" name="end" min="{{time}}">
   <input type="submit" value="Add">
</form>
<br>
<a href="{% url 'user'%}">Home</a>
<a href="{% url 'logout'%}">Logout</a>
  </body>
