<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'travel/css/main.css'%}">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid bg-1">
      <div class="row">
        <div class="col-sm-2 nav-space">
          <div class="nav nav-pills nav-stacked">
            <img src='/media/user/anonym.jpg' class="img-responsive" style="width:100%" alt="piture">
            <ul>
              <h3>Unknown User</h3>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main'%}">Main Page</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-10">
          <h1 class="">LOGIN/REGISTER PAGE</h1>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-3">
              {% if messages %}
                  <div class="errors">
                    {% for message in messages %}
                      <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
                    {% endfor %}
                  </div>
              {% endif %}

              <h3>Register</h3>
              <form class="black" role="form" action="{% url 'register_process' %}" method='post'>
                 {% csrf_token %}
                 <div class="form-group">
                   <label for="username">Username: </label>
                   <input type="text" name="username" id="username">
                 </div>
                 <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password">
                    <p>*password should be at least 8 characters and contain upper case letters and numbers</p>
                 </div>
                 <div class="form-group">
                    <label for="confirm">Confirm PW: </label>
                    <input type="password" name="repeat" id="confirm">
                 </div>
                 <button type="submit" class="btn btn-block">Submit
                   <span class="glyphicon glyphicon-ok"></span>
                 </button>
              </form>

              <h3>Login</h3>
              <form class="black" role="form" action="{% url 'login_process' %}" method='post'>
                 {% csrf_token %}
                 <div class="form-group">
                   <label for="username">Username: </label>
                   <input type="text" name="username" id="username">
                 </div>
                 <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password">
                    <p>*password should be at least 8 characters and contain upper case letters and numbers</p>
                 </div>
                 <button type="submit" class="btn btn-block">Submit
                   <span class="glyphicon glyphicon-ok"></span>
                 </button>
              </form>
            </div>
          </div>
          <br><br><br>

          <footer class="container-fluid bg-2">
            <br>
             <div class="row">
                <div class="col-sm-4">
                  <h2>Footer</h2>
                  <p>fsafsf asdfdsf safasfs</p>
                  <p>Site by <a href="#">Tetiana Nesterchuk</a></p>
                </div>
                <div class="col-sm-4">
                  <h2>Blog Post</h2>
                  <ul class="">
                    <li><a href="#">
                      <div class="row">
                        <div class="col-sm-5">
                          <img src='{% static "travel/images/bird2.jpg"%}' class="img-responsive" style="width:100%" alt="bird">
                        </div>
                        <div class="col-sm-2">
                          <p>Mingsum</p><br>
                        </div>
                      </div>
                    </a></li>
                    <li><a href="#">
                      <div class="row">
                        <div class="col-sm-5">
                          <img src='{% static "travel/images/bird2.jpg"%}' class="img-responsive" style="width:100%" alt="bird">
                        </div>
                        <div class="col-sm-2">
                          <p>Mingsum</p><br>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                   <h2>Tags</h2>
                   <p>fsafsf asdfdsf safasfs</p>
                </div>
             </div>
           <br><br>
         </footer>
        </div>
      </div>
    </div>
  </body>
</html>
