<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'travel/css/main.css'%}">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid bg-1">
      <div class="row">
        <div class="col-sm-2 nav-space">
          <div class="nav nav-pills nav-stacked">
            <img src='{{user.user_image.url}}' onError="this.onerror=null;this.src='/media/user/anonym.jpg';" class="img-responsive" style="width:100%" alt="piture">
            <ul>
              {% if request.session.user %}
              <h3>{{user.username}}</h3>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user'%}"><div>My Page</div></a>
              </li>
              <li class="nav-item">
                <a href="{% url 'add'%}"><div>Add Travel Plan</div></a>
              </li>
              <li class="nav-item">
                <a href="{% url 'logout'%}"><div>Logout</div></a>
              </li>
              {% else %}
              <h3>Unknown User</h3>
              <li class="nav-item">
                <a href="{% url 'login'%}"><div>Register/Login</div></a>
              </li>
              <p>You have to login to be able to add a travel</p>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="col-sm-10">
          <h1 class="">MAIN PAGE</h1>
          <h3 class="">Latest added: </span></h2>
          <div class="row">
            {%  for plan in latest %}
              {% if plan.user_id.id != request.session.user %}
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <img src='{{plan.travel_image.url}}' class="img-responsive" style="width: auto;height: auto;max-height: 300px;max-width: 100%;" alt="piture">
                    <h3><a href="{% url 'travel' travel_id=plan.id%}">{{plan.destination}}</a></h3>
                    <p>About: {{plan.plan}}</p>
                    <p>{{plan.user_id.username}}</p>
                    <p>Start Date:{{plan.start}}</p>
                    <p>End Date:{{plan.end}}</p>
                    {% if request.session.user %}
                      <a href="{% url 'join' travel_id=plan.id%}">Join</a>
                    {% endif %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                  </div>
                  <div class="row">
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <a href="{% url 'display' search='latest'%}">See all sorted by latest added</a>

          <h3 class="">Start soon: </span></h2>
          <div class="row">
            {%  for plan in start %}
              {% if plan.user_id.id != request.session.user %}
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <img src='{{plan.travel_image.url}}' class="img-responsive" style="width: auto;height: auto;max-height: 300px;max-width: 100%;" alt="piture">
                    <h3><a href="{% url 'travel' travel_id=plan.id%}">{{plan.destination}}</a></h3>
                    <p>About: {{plan.plan}}</p>
                    <p>{{plan.user_id.username}}</p>
                    <p>Start Date:{{plan.start}}</p>
                    <p>End Date:{{plan.end}}</p>
                    {% if request.session.user %}
                      <a href="{% url 'join' travel_id=plan.id%}">Join</a>
                    {% endif %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                  </div>
                  <div class="row">
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <a href="{% url 'display' search='soon'%}">See all sorted by the starting date</a>

          <h3 class="">Most Popular: </span></h2>
          <div class="row">
            {%  for plan in popular %}
              {% if plan.user_id_id != request.session.user%}
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <img src='/media/{{plan.travel_image}}' class="img-responsive" style="width: auto;height: auto;max-height: 300px;max-width: 100%;" alt="piture">
                    <h3><a href="{% url 'travel' travel_id=plan.id%}">{{plan.destination}}</a></h3>
                    <p>Number of people joined: {{plan.count}}</p>
                    <p>About: {{plan.plan}}</p>
                    <p>{{plan.user_id.username}}</p>
                    <p>Start Date:{{plan.start}}</p>
                    <p>End Date:{{plan.end}}</p>
                    {% if request.session.user %}
                      <a href="{% url 'join' travel_id=plan.id%}">Join</a>
                    {% endif %}
                  </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                  </div>
                  <div class="row">
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <a href="{% url 'display' search='popular'%}">See all sorted by popularity</a>
          <br><br>

        </div>
      </div>
    </div>

          <footer class="container-fluid bg-2">
            <br>
             <div class="row">
                <div class="col-sm-offset-2 col-sm-3">
                  <h2>Footer</h2>
                  <p>fsafsf asdfdsf safasfs</p>
                  <p>Site by <a href="#">Tetiana Nesterchuk</a></p>
                </div>
                <div class="col-sm-3">
                  <h2>Joined comming Soon</h2>
                  <ul class="">
                    {% if joins %}
                      {% for join in joins %}
                        <li><a href="#">
                          <div class="row">
                            <div class="col-sm-5">
                              <img src='/media/{{join.travel_id.travel_image}}' class="img-responsive" style="width:100%" alt="piture">
                            </div>
                            <div class="col-sm-2">
                              <h4>Start date:</h4>
                              <p>{{join.travel_id.start}}</p><br>
                            </div>
                          </div>
                        </a></li>
                      {% endfor %}
                    {% else %}
                    <h4>No joined travels</h4>
                    {% endif %}
                  </ul>
                </div>
                <div class="col-sm-3">
                   <h2>My comming Soon</h2>
                   <ul class="">
                     {% if travels %}
                       {% for travel in travels %}
                         <li><a href="#">
                           <div class="row">
                             <div class="col-sm-5">
                               <img src='/media/{{travel.travel_image}}' class="img-responsive" style="width:100%" alt="piture">
                             </div>
                             <div class="col-sm-2">
                               <h4>Start date:</h4>
                               <p>{{travel.start}}</p><br>
                             </div>
                           </div>
                         </a></li>
                       {% endfor %}
                     {% else %}
                     <br>
                     <h4>No added travels</h4>
                     {% endif %}
                   </ul>
                </div>
             </div>
           <br><br>
         </footer>
  </body>
