<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'travel/css/main.css'%}">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid bg-1">
      <div class="row">
        <div class="col-sm-2 nav-space">
          <div class="nav nav-pills nav-stacked">
            <img src='{{user.user_image.url}}' onError="this.onerror=null;this.src='/media/user/anonym.jpg';" class="img-responsive" style="width:100%" alt="piture">
            <h3>{{user.username}}</h3>
            <ul>
              {% if request.session.user %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main'%}"><div>Main Page</div></a>
              </li>
              <li class="nav-item">
                <a href="{% url 'add'%}"><div>Add Travel Plan</div></a>
              </li>
              <li class="nav-item">
                <a href="{% url 'logout'%}"><div>Logout</div></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="col-sm-10">
          <h1 class="">USER PAGE</h1>
          <h2 class="">Welcome to your page, {{user.username}}!</h2>
          <h2 class="">Filter: <span class="badge">filter</span></h2>
          <br><br>
          <h3 class="">My travels:</h3>
          <div class="row">
            {% if travels %}
              {% for travel in travels %}
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <img src='{{travel.travel_image.url}}' class="img-responsive" style="width:100%" alt="piture">
                    <h3><a href="{% url 'travel' travel_id=travel.id%}">{{travel.destination}}</a></h3>
                    <p>About: {{travel.plan }}</p>
                    <p>{{plan.user_id.username}}</p>
                    <p>Start Date:{{travel.start}}</p>
                    <p>End Date:{{travel.end}}</p>
                  </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                  </div>
                  <div class="row">
                {% endif %}
              {% endfor %}
              {% else %}
              <div class="col-sm-4">
                <p>You have no travels yet</p>
              </div>
            {% endif %}
          </div>
          <h3 class="">Joined travels:</h3>
          <div class="row">
            {% if joins %}
              {%  for join in joins %}
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <img src='{{join.travel_id.travel_image.url}}' class="img-responsive" style="width:100%" alt="piture">
                    <h3><a href="{% url 'travel' travel_id=join.travel_id.id%}">{{join.travel_id.destination}}</a></h3>
                    <p>About: {{join.travel_id.plan }}</p>
                    <p>{{plan.user_id.username}}</p>
                    <p>Start Date:{{join.travel_id.start}}</p>
                    <p>End Date:{{join.travel_id.end}}</p>
                  </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                  </div>
                  <div class="row">
                {% endif %}
              {% endfor %}
              {% else %}
              <div class="col-sm-4">
                <p>You haven't joined other user's travels yet</p>
              </div>
            {% endif %}
          </div>
          <h3 class="text-center">Page numbers</h3>


          <footer class="container-fluid bg-2">
            <br>
             <div class="row">
                <div class="col-sm-4">
                  <h2>Footer</h2>
                  <p>fsafsf asdfdsf safasfs</p>
                  <p>Site by <a href="#">Tetiana Nesterchuk</a></p>
                </div>
                <div class="col-sm-4">
                  <h2>Blog Post</h2>
                  <ul class="">
                    <li><a href="#">
                      <div class="row">
                        <div class="col-sm-5">
                          <img src='{% static "travel/images/bird2.jpg"%}' class="img-responsive" style="width:100%" alt="bird">
                        </div>
                        <div class="col-sm-2">
                          <p>Mingsum</p><br>
                        </div>
                      </div>
                    </a></li>
                    <li><a href="#">
                      <div class="row">
                        <div class="col-sm-5">
                          <img src='{% static "travel/images/bird2.jpg"%}' class="img-responsive" style="width:100%" alt="bird">
                        </div>
                        <div class="col-sm-2">
                          <p>Mingsum</p><br>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                   <h2>Tags</h2>
                   <p>fsafsf asdfdsf safasfs</p>
                </div>
             </div>
           <br><br>
         </footer>
        </div>
      </div>
    </div>

  </body>
